{{set . "title" "Repositories"}}
{{template "header.html" .}}

{{ $currentUser := .currentUser }}

<header class="jumbotron"><!-- style="background-color:#A9F16C"> -->
  <div class="container">
    <div class="row">
        <table width="100%">
			<caption>Repositories</caption>
			<tr>
			  <th>ID</th>
			  <th>Name</th>
              {{ if or (user_is_nil $currentUser) (not (user_is_admin $currentUser)) }}
              {{ else }}
              <th>Edit</th>
              <th>Delete</th>
              {{ end }}
			</tr>
			{{ range $index, $repo := .repos }}
			<tr>
                {{ if or (user_is_nil $currentUser) (not (user_is_admin $currentUser)) }}
                <td>{{ $repo.ID }}</td>
                <td>{{ $repo.RepoName }}</td>
                {{ else }}
                <form action="/repos/{{ $repo.ID }}" method="POST">
                    <td>{{ $repo.ID }}</td>
                    <td>
                        {{ if ne $repo.ID 1 }}
                            <input type="text" size="40" name="RepoName" value="{{ $repo.RepoName }}"/>
                        {{ else }}
                            {{ $repo.RepoName }}
                        {{ end }}
                    </td>
                    <td>
                        {{ if ne $repo.ID 1 }}
                            <input type="hidden" name="RepoID" value="{{ $repo.ID }}"/>
                            <input type="submit" value="Save"/>
                        </form>
                        {{ end }}
                    </td>
                </form>
                <td>
                    {{ if ne $repo.ID 1 }}
                    <form action="/repos/{{ $repo.ID }}/delete" method="POST">
                        <input type="hidden" name="id" value="{{ $repo.ID }}"/>
                        <input type="submit" value="Delete"/>
                    </form>
                    {{ end }}
                </td>
                {{ end }}
			</tr>
            {{ end }}
            {{ if or (user_is_nil $currentUser) (not (user_is_admin $currentUser)) }}
            {{ else }}
            <tr>
                <td><hr/></td>
                <td><hr/></td>
                <td><hr/></td>
            </tr>
            <tr>
                <td><strong>Create new repository</strong></td>
                <td/><td/>
            </tr>
            <tr>
                <form action="/repos" method="POST">
                    <td>Name</td>
                    <td><input type="text" size="40" name="RepoName"/></td>
                    <td><input type="submit" value="Insert"/></td>
                </form>
            </tr>
            {{ end }}
		  </table>
    </div>
  </div>
</header>


{{template "footer.html" .}}
