{{set . "title" "Builds"}}
{{template "header.html" .}}

{{ $currentUser := .currentUser }}
{{ $branches := .branches }}

<header class="jumbotron"><!-- style="background-color:#A9F16C"> -->
  <div class="container">
    <div class="row">
        <table width="100%">
			<caption>Builds</caption>
			<tr>
			  <th>ID</th>
			  <th>Package</th>
              <th>Version</th>
              <th>Release</th>
              <th>Epoch</th>
              <th>Completion time</th>
              <th>Owner</th>
              <th>Tag name</th>
              {{ if user_is_nil $currentUser }}
              {{ else }}
                  <th>Push</th>
                  <th>Cancel</th>
              {{ end }}
			</tr>
			{{ range $index, $build := .builds }}
			<tr style="border: 1px solid #000;">
                <td>{{ $build.BuildID }}</td>
                {{ if user_is_nil $currentUser }}
                    <td>{{ $build.BuildPackage.PkgName }}</td>
                {{ else }}
                    <td><a href="/packages/{{ $build.BuildPackage.ID }}/?return_page=/builds">{{ $build.BuildPackage.PkgName }}</a></td>
                {{ end }}
                <td>{{ $build.Version }}</td>
                <td>{{ $build.Release }}</td>
                <td>{{ $build.Epoch }}</td>
                <td>{{ $build.CompletionTime.Format "2006-01-02 15:04:05 -0700 MST" }}</td>
                <td>{{ $build.Owner.OwnerName }}</td>
                <td>{{ $build.TagName }}</td>
                {{ if user_is_nil $currentUser }}
                {{ else }}
                <td>
                    {{ if lt $build.BuildPackage.PkgRepoID 2 }}
                        <a href="/packages/{{ $build.BuildPackage.ID }}?return_page=/builds">Change repository</a>
                    {{ else }}
                        {{ if user_is_pusher $currentUser }}
                        {{ range $ib, $branch := $branches }}
                            <a href="/push/{{ $build.BuildID }}?branch={{ $branch.RTName }}">Push to <strong>{{ $branch.RTName }}</strong></a><br/>
                        {{ end }}
                        {{ else }}
                        <a href="/push/{{ $build.BuildID }}">Push to <strong>updates</strong></a>
                        {{ end }}
                    {{ end }}
                </td>
                <td><a href="/builds/cancel/{{ $build.BuildID }}">Cancel</a></td>
                {{ end }}
			</tr>
			{{ end }}
		  </table>
    </div>
  </div>
</header>

{{template "footer.html" .}}
