{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron"><!-- style="background-color:#A9F16C"> -->
  <div class="container">
    <div class="row">
        <table width="100%">
			<caption>Operations</caption>
			<tr>
			  <th>Build</th>
			  <th>User</th>
              <th>Operation time</th>
			  <th>Type</th>
			  <th>Description</th>
			</tr>
			{{ range $index, $log := .newLogs }}
			<tr id='operationLog{{ $log.Type }}'>
                <td><a href="/packages/{{ $log.PackageID }}/">{{ $log.Package.PkgName }}</a></td>
                <td><a href="/users/{{ $log.UserID }}/">{{ $log.User.UserName }}</a></td>
                <td>{{ $log.Timestamp.Format "2006-01-02 15:04:05 -0700 MST" }}</td>
                <td>{{ $log.Type }}</td>
                <td>{{ $log.Action }}</td>
			</tr>
			{{ end }}
		  </table>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
