{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
        {{ range $index, $build := .builds }}
            <p>{{ $build.UserName }}</p>
            <p>{{ $build.UserEMail }}</p>
        {{ end }}
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
