{{ $user := .user }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/menu.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
      <div id="mainNav">
          <ul>
              <li id="homeTab"><a href="/">Home</a></li>
              <li id="buildsTab"><a href="/builds/">Builds</a></li>
              <li id="packagesTab"><a href="/packages/">Packages</a></li>
              <li id="reposTab"><a href="/repos/">Repositories</a></li>
              {{ if user_is_admin .currentUser }}
                <li id="userTab"><a href="/users">Users</a></li>
                <li id="pushTab"><a href="/pushes">Push pool</a></li>
              {{ else if not (user_is_nil .currentUser)  }}
                <li id="userTab"><a href="/users/{{ .currentUser.ID }}">User</a></li>
              {{ end }}
              {{ if not (user_is_nil .currentUser)  }}
              <li id="logoutTab"><a href="/logout">Logout: {{ auth_user_name .currentUser }}</a></li>
              {{ else }}
              <li id="loginTab"><a href="/login">Login</a></li>
              {{ end }}
          </ul>
      </div>
      <div class="container">
          <div class="row">
              <div class="span6">
                  {{template "flash.html" .}}
              </div>
          </div>
      </div>
